html {
	scroll-behavior: smooth; /* this will add smooth scroll feature */
	scroll-padding-top: 80; /* this will set offset from top, value should be similar to header height*/
}

#darkmode-button {
  position: fixed;
  bottom: 1vh;
  left: 1vh;
  z-index: 10000;
}

#darkmode-button:hover{
  background-color: blue;
}